@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
  	position: fixed;
  	z-index: 9999;
  	width: 100%;
  	max-width: 1224px;
  	height: 100px;
  	background: url(../images/top_bar2.jpg);
}

nav	{
	float: left;
	display: inline;
	padding-top: 65px;
	right: 240px;
}

nav a {
	font-family: 'Righteous', 'Arial', sans-serif;
	letter-spacing: .03em;
	color: #444;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
}

nav a:hover {
	color: #666;
}

nav a:visited {
	text-decoration: none;
    color: #444;
}

main {
	padding-top: 5em;
}

body {
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	color: #000;
	line-height: 1.5em;
	text-align: center;
}

h2 {
	padding-bottom: .5em;
}

h2.extrabold {
	font-family: 'Righteous', 'Arial', sans-serif;
	color: #af7e6c;
	text-align: center;
}

h2 a.extrabold2 {
	font-family: 'Righteous', 'Arial', sans-serif;
	color: #af7e6c;
	text-decoration: none;
	text-align: center;
}

ul {
	padding-left: 2.5em;
}

footer {
	position: static;
	width: 100%;
	background-color: #af7e6c;
	margin-top: .5em;
	padding: .7em;
}

.gallery-thumbnail {
	width: 350px;
}

.three_column {
	width: 100%;
    margin: 0.625em auto;
    margin-bottom: 2.5em;
}

.column {
	float: left;
	width: 33.3%;
	text-align: left;
	padding: 0.625em 0.625em 0px 0.625em;
}

.column_centered {
	float: left;
	width: 33.3%;
	margin: 0 auto;
	padding: 0px 0.625em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#wrapper {
    width: 1224px;
    margin: 0 auto;
/*    position: relative;*/
}

#top_bar {
	z-index: 0;
	width: 100%;
}

#logo {
	padding-top: 2.2em;
	display: inline;
	float: left;
	width: 450px;
}

#contact-top {
	float: right;
	width: 200px;
	padding-top: 1.5em;
}

#top_button {
	display: block;
	margin: 0 auto;
	width: 150px;
}

#mobile-number	{
	font-family: 'Righteous', 'Arial', sans-serif;
	font-size: 1em;
	color: #444;
}

#hero_button {
	z-index: 1;
	margin: 0 auto;
	left: 0;
	right: 0;
	height: 80px;
}

#hero-heading {
	font-family: 'Righteous', 'Arial', sans-serif;
	letter-spacing: .05em;
    text-shadow: 2px 2px 8px #000000;
    font-size: 3em;
 	color: #fff;
 	opacity: 0.9;
}

#hero-p {
	font-family: 'Righteous', 'Arial', sans-serif;
	letter-spacing: .1em;
	line-height: 3em;
	text-shadow: 2px 2px 4px #000000;
	font-size: 24px;
	color: #fff;
	opacity: 0.9;
	}

#hero-text {
	background: url(../images/matty-z-hero-2.jpg) no-repeat;
	background-size:cover;
	height: 75vh;
}

#hero-text div {
	padding-top: 15em;

}

#footer-text {
	font-family: 'Righteous', 'Arial', sans-serif;
	font-size: 1em;
	color: #fff;
	float: left;
	display: inline-block;
	padding-top: .3em;
}

#facebook {
	width: 4em;
	display: inline-block;
	float: right;
	padding-top: 1em;
	padding-right: 1em;
}